@charset"utf-8";

.wrap>div {
    display: flex;
    width: 960px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.wrap1 div {
    background: blue;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
}

.wrap2 {
    /*flexを改行するcss*/
    flex-wrap: wrap;
}

.wrap2 div {
    background: red;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
}